# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de VSCode
.vscode/
# Entorno virtual de Python
venv/
# Archivos estáticos de Django
staticfiles/

archivos/
contenidos/