.navbar-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .btn-login {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 15px;
    background: transparent;
    font-weight: bold;
  }
  .btn-login:hover {
    background-color: #ff7f50;
    color: #fff;
  }
  /* Ocultar botón de iniciar sesión en vista móvil */
  @media (max-width: 768px) {
    .btn-login {
      display: none;
    }
  }

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    color: tomato;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    color: teal
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
    color: burlywood
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
    color : blue
}

.div5 {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 1;
    color: darkkhaki;
}
        